<% include header %>

  <body>

    <!-- NAVIGATION -->
    <nav class = "navbar navbar-expand-lg navbar-light bg-light">
        <a class = "navbar-brand" href = "/">Minder</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNav" aria-controls = "navbarNav" aria-expanded = "false" aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbarNav">
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a class = "nav-link" href = "discovery">Discovery</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "chat">Chat</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link active" href = "profile">Profile <span class = "sr-only">(current)</span></a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "#">Notif</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/users/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class = "container">
        <div class = "row">
            <div class = "offset-md-2 col-md-8">

                <!-- UPLOAD/WEBCAM PHOTO MODAL -->
                <div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="profile-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="profile-modal-label">Upload a picture</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="camera">
                                <button class = "btn btn-info" id="startbutton">Take photo</button>
                                <input type = "file" class = "hidden" id = "upload-input" accept = ".jpg, .jpeg, .png">
                                <button class = "btn btn-info" id = "upload-button">Upload photo</button>
                                <video id="video">Video stream not available.</video>
                            </div>
                            <canvas id="canvas" class = "hidden">
                            </canvas>
                            <div class="output">
                                <img id="photo" alt="The screen capture will appear in this box."> 
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id = "modal-save-button">Save changes</button>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- PROFILE CARD VIEW -->
                <img src = "<%= imageUrlPath%>" width = "200px" height = "200px" class = "img-thumbnail profile-image"/>
                <div class = "card view-card">
                    <div class = "card-body">
                        <h3 class = "card-title" id = "name-view"><%= name %></h3>
                        <p class = "card-text" id = "description-view"><%= description %></p>
                    </div>
                    <ul class = "list-group list-group-flush">
                        <li class = "list-group-item">Email: <span id = "email-view"><%= email %></span></li>
                        <li class = "list-group-item">
                            Tags 
                            <div class = "taglist-view">
                                <% for(var i = 0; i < tags.length; i++) { %>
                                    <span class = "tag"><%= tags[i] %></span>
                                <% } %>
                            </div>
                            </li>
                        <li class = "list-group-item">Education: <span id = "education-view"><%= education %></span></li>
                        <li class = "list-group-item text-center">Location: <span id = "location-view"><%= location %></span><div id = "map"></div></li>
                    </ul>
                    <div class = "card-body">
                        <button class = "btn btn-primary" id = "edit-button">Edit Profile</button>
                        <button class = "btn btn-danger" id = "delete-button">Delete Profile</button>
                    </div>
                </div>

                <!-- PROFILE CARD EDIT -->
                <form class = "hidden edit-form">
                    <div class = "card">
                        <div class = "card-body">
                            <div class = "form-group">
                                <label for = "name">Name</label>
                                <input type = "text" class = "form-control" id = "name" value = "<%= name %>" value = "Please enter your name here">
                            </div>
                            <div class = "form-group">
                                <label for = "description">Description</label>
                                <input type = "text-area" class = "form-control" id = "description" value = "<%= description %>" placeholder = "Write something about yourself here">
                            </div>
                        </div>
                        <ul class = "list-group list-group-flush">
                            <li class = "list-group-item">
                                <div class = "form-group">
                                    <label for = "email">Email</label>
                                    <input type = "text" class = "form-control" id = "email" value = "<%= email %>" placeholder = "e.g. joe@minder.com">
                                </div>
                            </li>
                            <li class = "list-group-item">
                                <div class = "form-group">
                                    <label for = "tags">Tags</label>
                                    <div class = "taglist-edit">
                                        <% for(var i = 0; i < tags.length; i++) { %>
                                            <span class = "tag"><%= tags[i] %> <span class = "tag-delete">x</span></span>
                                        <% } %>
                                    </div>
                                    <input type = "text" class = "form-control" id = "tag" value = "" placeholder = "e.g. Coding, Communcation"> 
                                </div>
                            </li>
                            <li class = "list-group-item">
                                <div class = "form-group">
                                    <label for = "education">Education</label>
                                    <input type = "text" class = "form-control" id = "education" value = "<%= education %>" placeholder = "e.g. UC Irvine">
                                </div>
                            </li>
                            <li class = "list-group-item">
                                <div class = "form-group">
                                    <label for = "location">Location</label>
                                    <input type = "text" class = "form-control" id = "location" value = "<%= location %>" placeholder = "e.g. San Francisco, CA">
                                </div>
                            </li>
                        </ul>
                        <div class = "card-body">
                            <button class = "btn btn-primary" id = "save-button">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKef04CW7r1GIdrLA6bBPMivgEcKmd5Ps&callback=initialize" type="text/javascript"></script>
    
    

    <!-- CUSTOM SCRIPTS -->
    <script src = "javascripts/modal.js"></script>
    <script src = "javascripts/edit-profile.js"></script>
    <script src = "javascripts/location.js"></script>
  
    <% include footer %>
